html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --clr-white: white;
  --clr-green-grass: #bfe033;
  --clr-darker-green: #2bb4b1;
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-top-bottom: 1em 0;
  --space-selaras: 1rem;
  --line-height-v1: 1.6;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e6eff6;
  z-index: -1;
}

body {
  place-items: center;
  display: grid;
  padding: var(--space-m);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 480px;
  grid-template-areas:
    "community"
    "subscription"
    "us";
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "community community"
      "subscription us";
  }
}
.community {
  grid-area: community;
  background-color: white;
  padding: var(--space-selaras);
  h2 {
    color: var(--clr-darker-green);
  }
  h3 {
    padding: var(--space-top-bottom);
    color: var(--clr-green-grass);
  }
  p {
    line-height: var(--line-height-v1);
  }
}

.subscription {
  grid-area: subscription;
  padding: var(--space-selaras);
  background-color: var(--clr-darker-green);
}
.subscription p:nth-child(2) {
  padding: var(--space-top-bottom);
}
.subscription p:nth-child(3) {
  padding-bottom: 1em;
}
.us {
  grid-area: us;
  background-color: #49bebd;
  padding: var(--space-selaras);
  h2 {
    padding-bottom: 1em;
  }
  p {
    width: 23ch;
    line-height: var(--line-height-v1);
  }
}
